{% extends 'base.html.twig' %}

{% block title %}Create a ToDo{% endblock %}

{% block body %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-5">
{{ form(form) }}
</div>
</div>
</div>
{% endblock %}
