{% extends 'base.html.twig' %} {% block body %}

<div class="container">
  <div class="row">
    <h1>
      {{ response.weather[0].main }}
    </h1>

    <div class="row">
      {% for todo in todos %}
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-title">{{ todo.description }}</p>

            <div class="form-check form-switch">
              <input
                {%
                if
                todo.isComplete
                %}
                checked
                {%
                endif
                %}
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
              <label
                class="form-check-label"
                for="flexSwitchCheckDefault"
              ></label>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
